.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-flex;
  line-height: 1;
  border-radius: 0.25rem;
  align-items: center;
  font-weight: 500;
  text-align: center;
  -webkit-appearance: none;
  transition: color 0.35s, background-color 0.35s, border-color 0.35s,
    box-shadow 0.35s, opacity 0.35s;
  font-family: inherit;
  min-width: 120px;
  min-height: 52px;
  border-radius: 8px;
  padding: 0 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 52px;
  display: flex;
  justify-content: center;
  transition: all 300ms ease-in-out;
  border: 1px solid transparent;
  &.btn-primary {
    background-color: $purple;
    color: $white;
    border-color: $purple;
    &:hover {
      background-color: $purple-dark;
      border-color: $purple-dark;
      color: $white;
    }
    &.btn-cta {
      font-weight: 600;
      svg {
        margin-left: 0.85rem;
      }
    }
  }
  &.btn-secondary {
    color: $purple;
    border: 1px solid $purple;
    &:hover,
    &:focus {
      color: $white;
      background-color: $purple;
    }
  }

  &.btn-sm {
    min-height: 38px;
    line-height: 38px;
    padding: 0 16px;
    font-size: 16px;
  }
}
.btn-group {
  width: fit-content;
}
