.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 1.5rem;
  font-size: 1rem;
  line-height: 1.2;
  border-radius: 0.25rem;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.07em;
  -webkit-appearance: none;
  transition: color 0.35s, background-color 0.35s, border-color 0.35s,
    box-shadow 0.35s, opacity 0.35s;
  font-family: inherit;
  min-height: 48px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &.btn-primary {
    background-color: $purple;
    color: $white;
    border-color: $purple;
    &:hover {
      background-color: $purple-dark;
    }
    &.btn-cta {
      font-weight: 600;
      svg {
        margin-left: 0.85rem;
      }
    }
    &.btn-white {
      background-color: $white;
      color: $black;
      &:hover {
        background-color: $purple;
        border-color: $purple;
        color: $white;
      }
    }
  }
  &.btn-secondary {
    color: $black;
    border-color: transparent;
    &:hover {
      background-color: $gray-light;
      border-color: $gray-light;
    }
  }
  &.btn-outline {
    color: $purple;
    &:hover {
      background-color: $purple;
      border-color: $purple;
      color: $white;
    }
  }
  & + .btn {
    margin-left: 1rem;
  }
}
.btn-group {
  display: flex;
}
