// Font Family
$font-stack: "Inter", sans-serif;

// Brand tones
$purple: #5e00cf;
$purple-dark: #430095;
$black: #1b1c1e;
$white: #ffffff;

$gray-light: #e8e9ea;
$gray-medium: #757a7e;
$gray-dark: #41484e;

// notification alerts colors
$success: #39b55a;
$warning: #f1a321;
$error: #e61728;
$yellow: #ffe100;

// spacing modifier variable.
$space-none: 0;
$space-x-sm: 16px;
$space-sm: 24px;
$space-md: 48px;
$space-lg: 96px;
$space-x-lg: 128px;
$space-auto: auto;

$blue: #008ecf;
$blue-darkest: #09263c;
$blue-dark: #073857;
