// Font Family
$font-stack: "Inter", sans-serif;

// Brand tones
$purple: #6929c4;
$purple-dark: #7c3dd6;
$black: #202124;
$white: #ffffff;
$hairline: #dadce0;
$gray-light: #e8e9ea;
$gray-medium: #757a7e;
$gray-dark: #41484e;
$coolGray-10: #f2f4f8;
$purple-light: #d4bbff;
// notification alerts colors
$success: #39b55a;
$warning: #f1a321;
$error: #e61728;
$yellow: #fcde2b;

// spacing modifier variable.
$space-none: 0;
$space-x-sm: 16px;
$space-sm: 24px;
$space-md: 48px;
$space-lg: 96px;
$space-x-lg: 128px;
$space-auto: auto;

$blue: #008ecf;
$blue-darkest: #09263c;
$blue-dark: #073857;
