.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 1.5rem;
  font-size: 1rem;
  line-height: 1.2;
  border-radius: 0.25rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  letter-spacing: 0.07em;
  -webkit-appearance: none;
  -webkit-transition: color 0.35s, background-color 0.35s, border-color 0.35s, opacity 0.35s, -webkit-box-shadow 0.35s;
  transition: color 0.35s, background-color 0.35s, border-color 0.35s, opacity 0.35s, -webkit-box-shadow 0.35s;
  transition: color 0.35s, background-color 0.35s, border-color 0.35s, box-shadow 0.35s, opacity 0.35s;
  transition: color 0.35s, background-color 0.35s, border-color 0.35s, box-shadow 0.35s, opacity 0.35s,
    -webkit-box-shadow 0.35s;
  font-family: inherit;
  min-height: 48px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn.btn-primary {
  background-color: #5e00cf;
  color: #ffffff;
  border-color: #5e00cf;
}

.btn.btn-primary:hover {
  background-color: #430095;
}

.btn.btn-primary.btn-cta {
  font-weight: 600;
}

.btn.btn-primary.btn-cta svg {
  margin-left: 0.85rem;
}

.btn.btn-primary.btn-white {
  background-color: #ffffff;
  color: #1b1c1e;
}

.btn.btn-primary.btn-white:hover {
  background-color: #5e00cf;
  border-color: #5e00cf;
  color: #ffffff;
}

.btn.btn-secondary {
  color: #1b1c1e;
  border-color: transparent;
}

.btn.btn-secondary:hover {
  background-color: #e8e9ea;
  border-color: #e8e9ea;
}

.btn.btn-outline {
  color: #5e00cf;
}

.btn.btn-outline:hover {
  background-color: #5e00cf;
  border-color: #5e00cf;
  color: #ffffff;
}

.btn + .btn {
  margin-left: 1rem;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
%d-flex {
  display: flex;
}
%space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
%align-center {
  display: flex;
  align-items: center;
}
%d-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-25,
.grid-33,
.grid-50,
.grid-60-40,
.grid-40-60 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.grid-60-40 > div {
  float: left;
  display: inline-block;
  margin-right: 24px;
  width: calc(60% - (24px * 1 / 2));
}

.grid-60-40 > div:nth-child(2n) {
  margin-right: 0;
  width: calc(40% - (24px * 1 / 2));
}

.grid-40-60 > div {
  float: left;
  display: inline-block;
  margin-right: 24px;
  width: calc(40% - (24px * 1 / 2));
  vertical-align: top;
}

@media (max-width: 768px) {
  .grid-40-60 > div {
    margin-right: 0;
    width: 100%;
  }
}

.grid-40-60 > div:nth-child(2n) {
  margin-right: 0;
  width: calc(60% - (24px * 1 / 2));
}

.grid-50 > div {
  float: left;
  display: inline-block;
  margin-right: 24px;
  width: calc(50% - (24px / 2));
  margin-bottom: 24px;
}

.grid-50 > div:nth-child(2n) {
  margin-right: 0;
}

@media (max-width: 536px) {
  .grid-50 > div {
    width: 100%;
    margin-right: 0;
  }
}

.grid-33 > div {
  float: left;
  display: inline-block;
  margin-right: 24px;
  margin-bottom: 24px;
  width: calc(33% - (24px * 2 / 3));
}

.grid-33 > div:nth-child(3n) {
  margin-right: 0;
}

.grid-25 > div {
  float: left;
  display: inline-block;
  margin-right: 24px;
  margin-bottom: 24px;
  width: calc(25% - (24px * 3 / 4));
}

@media (max-width: 768px) {
  .grid-25 > div {
    width: calc(50% - (24px * 1 / 2));
  }
  .grid-25 > div:nth-child(2n) {
    margin-right: 0;
  }
}

@media (max-width: 536px) {
  .grid-25 > div {
    width: 100%;
    margin-right: 0;
  }
}

.grid-25 > div:nth-child(4n) {
  margin-right: 0;
}

header {
  background-color: #ffffff;
  border-bottom: 1px solid #e8e9ea;
}

@media (max-width: 767px) {
  header {
    padding: 1.5rem 0;
  }
}

header > div {
  min-height: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 767px) {
  header > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  header > div .logo {
    margin-bottom: 1.5rem;
  }
}

header > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header > div > div > a {
  display: block;
}

header > div > div .btn {
  min-height: 44px;
}

header > div nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header > div nav ul li {
  margin-right: 1rem;
}

header > div nav ul li:last-child {
  margin-right: 1.5rem;
}

header > div nav ul li a {
  padding: 0 1rem;
  color: #1b1c1e;
}

header > div nav ul li a:hover {
  color: #5e00cf;
}

.hero h1 {
  margin-bottom: 24px;
  font-size: 44px;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 32px;
  }
}

@media (min-width: 769px) {
  .hero h1 {
    padding-right: 40px;
  }
}

.hero h1 span {
  color: #5e00cf;
}

.hero .subtitle {
  margin-top: 48px;
}

.hero .subtitle label {
  color: #5e00cf;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  display: block;
}

.hero p {
  margin-bottom: 24px;
}

.hero p:last-child {
  margin-bottom: 0;
}

.hero .btn {
  margin-top: 40px;
}

@media (max-width: 768px) {
  .hero .vector {
    display: none;
  }
}

.application-guide .tag {
  background-color: #ffe100;
  color: #41484e;
  border-radius: 12px;
  padding: 0 12px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.85rem;
}

.application-guide .card .icon,
.resources .card .icon {
  border-radius: 12px;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.application-guide .card .icon.pink,
.resources .card .icon.pink {
  background: url(/images/bg1.svg) no-repeat center center #fde7e8;
  background-size: 80%;
}

@media (max-width: 536px) {
  .application-guide .card .icon.pink,
  .resources .card .icon.pink {
    background-size: 60%;
  }
}

.application-guide .card .icon.yellow,
.resources .card .icon.yellow {
  background: url(/images/bg2.svg) no-repeat center center #fff4dd;
  background-size: 80%;
}

@media (max-width: 536px) {
  .application-guide .card .icon.yellow,
  .resources .card .icon.yellow {
    background-size: 60%;
  }
}

.application-guide .card .icon.blue,
.resources .card .icon.blue {
  background: url(/images/bg3.svg) no-repeat center center #edf1ff;
  background-size: 80%;
}

@media (max-width: 536px) {
  .application-guide .card .icon.blue,
  .resources .card .icon.blue {
    background-size: 60%;
  }
}

.application-guide .card .icon.pink-big,
.resources .card .icon.pink-big {
  background: url(/images/bg6.svg) no-repeat center center #fde7e8;
  background-size: 80%;
}

@media (max-width: 536px) {
  .application-guide .card .icon.pink-big,
  .resources .card .icon.pink-big {
    background-size: cover;
  }
}

.application-guide .card .icon.blue-big,
.resources .card .icon.blue-big {
  background: url(/images/bg5.svg) no-repeat center center #edf1ff;
  background-size: 80%;
}

@media (max-width: 536px) {
  .application-guide .card .icon.blue-big,
  .resources .card .icon.blue-big {
    background-size: cover;
  }
}

.sdk .card {
  padding: 32px;
}

.sdk .card .title {
  margin-bottom: 0;
}

footer {
  border-top: 1px solid #e8e9ea;
  padding: 40px 0;
}

footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 767px) {
  footer > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  footer > div > div:not(:last-child) {
    margin-bottom: 24px;
  }
}

footer > div a {
  padding: 0 1rem;
}

@media (max-width: 767px) {
  footer > div a {
    padding: 0 1rem 0 0;
  }
  footer > div a:last-child {
    padding: 0 0 0 1rem;
  }
}

footer > div a:hover {
  color: #41484e;
}

.detail-page > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.detail-page .sidebar {
  max-width: 280px;
  padding-right: 24px;
}

@media (min-width: 769px) {
  .detail-page .sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
  }
}

@media (max-width: 768px) {
  .detail-page .sidebar {
    max-width: 100%;
    border-right: 0;
    padding-right: 0;
    width: 100%;
    padding-bottom: 48px;
    border-bottom: 1px solid #e8e9ea;
    margin-bottom: 48px;
  }
}

.detail-page .sidebar .headings {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #757a7e;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.detail-page .sidebar ul > li > p {
  margin-bottom: 1rem;
}

.detail-page .sidebar ul > li > p > a {
  color: #1b1c1e;
  font-weight: 500;
  padding-top: 0;
}

.detail-page .sidebar ul > li a {
  padding: 10px 0;
  display: block;
  color: #41484e;
}

.detail-page .sidebar ul > li a:hover {
  color: #5e00cf;
}

.detail-page .sidebar ul ul li p {
  margin-bottom: 0;
  color: #41484e;
  font-size: 16px;
}

.detail-page .sidebar ul ul li p a {
  font-weight: 400;
}

.detail-page .sidebar ul ul li a {
  color: #41484e;
  padding: 8px 0 8px 24px;
  display: block;
  border-left: 2px solid #e8e9ea;
}

.detail-page .sidebar ul ul li a.active,
.detail-page .sidebar ul ul li a:hover {
  border-color: #5e00cf;
  color: #5e00cf;
}

.detail-page .sidebar ul ul li ul li a {
  padding-left: 40px;
}

.detail-page .sidebar ul ul li ul li ul li a {
  padding-left: 56px;
}

.detail-page .sidebar .get-in-touch {
  margin-top: 56px;
}

.detail-page .sidebar .get-in-touch li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.detail-page .sidebar .get-in-touch li:hover svg {
  fill: #5e00cf;
}

.detail-page .sidebar .get-in-touch span.icon svg {
  width: 24px;
  margin-right: 1rem;
}

.detail-page .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  padding-left: 24px;
  width: calc(100% - 280px);
  border-left: 1px solid #e8e9ea;
}

@media (max-width: 768px) {
  .detail-page .content {
    padding-left: 0;
    width: 100%;
    border-left: 0;
  }
}

.detail-page .content .breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #757a7e;
  list-style: none;
  font-weight: 500;
  margin: 0 0 24px 0;
  padding: 0;
}

.detail-page .content .breadcrumbs > li {
  position: relative;
  text-transform: capitalize;
}

.detail-page .content .breadcrumbs > li:not(:first-child) {
  padding-left: 36px;
}

.detail-page .content .breadcrumbs > li + li:before {
  content: "";
  display: inline-block;
  border-style: solid;
  border-width: 2px 2px 0 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 7px;
  height: 7px;
  vertical-align: baseline;
  padding: 0;
  margin: 0 14px;
  position: absolute;
  bottom: 8px;
  left: 0;
}

.detail-page .content h1 {
  margin-top: 0;
  font-size: 44px;
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .detail-page .content h1 {
    font-size: 32px;
  }
}

.detail-page .content h2 {
  margin-top: 48px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 30px;
}

@media (max-width: 768px) {
  .detail-page .content h2 {
    font-size: 24px;
    line-height: 36px;
  }
}

.detail-page .content h2 + blockquote {
  margin-top: 24px;
}

.detail-page .content h3 {
  position: relative;
  margin-top: 48px;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 600;
}

.detail-page .content h3 + blockquote {
  margin-top: 24px;
}

.detail-page .content p strong a {
  font-weight: 500;
}

.detail-page .content p strong a:hover {
  color: #1b1c1e;
}

.detail-page .content p strong:first-child a {
  padding-left: 0;
}

.detail-page .content blockquote {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-alert-circle'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
  background-position: left 24px top 26px;
  background-repeat: no-repeat;
  background-color: #e8e9ea;
  color: #1b1c1e;
  border-radius: 4px;
  border-radius: 4px;
  margin: 48px 0;
  padding: 24px 24px 24px 64px;
}

.detail-page .content blockquote p:last-child {
  margin-bottom: 0;
}

.detail-page .content blockquote p + p {
  margin-bottom: 0;
}

.detail-page .content blockquote p strong a {
  font-weight: 500;
  padding: 0 1rem;
}

.detail-page .content .gatsby-resp-image-wrapper {
  margin-left: 0 !important;
}

.detail-page .content .gatsby-resp-image-wrapper img {
  border-radius: 5px;
  border: 1px solid #e8e9ea;
}

.detail-page .content ul:not(.breadcrumbs) {
  margin: 0 0 2rem 1.2rem;
  list-style-type: disc;
}

.detail-page .content ul:not(.breadcrumbs) li {
  margin: 0 auto 1rem;
}

.detail-page .content ol {
  margin: 0 0 2rem 1.2rem;
  padding: 0;
}

.detail-page .content ol li {
  margin: 0 auto 1rem;
}

.detail-page .content table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 28px;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
}

.detail-page .content table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #e8e9ea;
  padding: 8px;
  line-height: 2;
}

.detail-page .content table > tbody > tr > td {
  padding: 8px;
  line-height: 2;
  vertical-align: top;
  border-top: 1px solid #e8e9ea;
}

.detail-page .content .gatsby-resp-iframe-wrapper {
  max-width: 75%;
  margin: 2rem 0;
}

@media (max-width: 768px) {
  .detail-page .content .gatsby-resp-iframe-wrapper {
    max-width: 100%;
    width: 100%;
  }
}

.detail-page .content b,
.detail-page .content strong {
  font-weight: 600;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: #1b1c1e;
}

html,
body {
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Inter", sans-serif;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #5e00cf;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

button,
input[type="button"] {
  cursor: pointer;
  -webkit-transition: color 0.35s, background-color 0.35s, border-color 0.35s, opacity 0.35s, -webkit-box-shadow 0.35s;
  transition: color 0.35s, background-color 0.35s, border-color 0.35s, opacity 0.35s, -webkit-box-shadow 0.35s;
  transition: color 0.35s, background-color 0.35s, border-color 0.35s, box-shadow 0.35s, opacity 0.35s;
  transition: color 0.35s, background-color 0.35s, border-color 0.35s, box-shadow 0.35s, opacity 0.35s,
    -webkit-box-shadow 0.35s;
}

.p-0 {
  padding: 0 !important;
}

.py-32 {
  padding: 32px 0;
}

.py-72 {
  padding: 72px 0;
}

@media (max-width: 768px) {
  .py-72 {
    padding: 48px 0;
  }
}

.py-112 {
  padding: 112px 0;
}

.m-auto {
  margin: 0 auto;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 1rem;
  border: 1px solid #e8e9ea;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: color 0.35s, background-color 0.35s, border-color 0.35s, opacity 0.35s, -webkit-box-shadow 0.35s;
  transition: color 0.35s, background-color 0.35s, border-color 0.35s, opacity 0.35s, -webkit-box-shadow 0.35s;
  transition: color 0.35s, background-color 0.35s, border-color 0.35s, box-shadow 0.35s, opacity 0.35s;
  transition: color 0.35s, background-color 0.35s, border-color 0.35s, box-shadow 0.35s, opacity 0.35s,
    -webkit-box-shadow 0.35s;
}

.card:hover {
  border-color: #5e00cf;
}

.card .icon {
  margin-bottom: 24px;
}

.card .icon img,
.card .icon svg {
  max-width: 56px;
  max-height: 56px;
  min-height: 56px;
}

.card .title {
  font-size: 24px;
  margin-bottom: 24px;
  font-weight: 500;
}

.card ul li {
  margin-bottom: 24px;
}

.card ul li img {
  margin-right: 1rem;
}

.card ul li:last-child {
  margin-bottom: 0;
}

.card ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #41484e;
}

.card ul li a:hover {
  color: #5e00cf;
}

.shadow {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.03);
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-items-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.v-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.h-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #e8e9ea;
  font-weight: 400;
  font-size: 0.95rem;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #e8e9ea;
  font-weight: 400;
  font-size: 0.95rem;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #e8e9ea;
  font-weight: 400;
  font-size: 0.95rem;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #e8e9ea;
  font-weight: 400;
  font-size: 0.95rem;
}
header,
footer {
  overflow: hidden;
}

section > div,
header > div,
footer > div {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1248px;
}

section > div h2,
header > div h2,
footer > div h2 {
  font-size: 36px;
  margin-bottom: 24px;
  font-weight: 500;
  line-height: 44px;
}

@media (max-width: 768px) {
  section > div h2,
  header > div h2,
  footer > div h2 {
    font-size: 28px;
  }
}

section > div p,
header > div p,
footer > div p {
  font-size: 17px;
  line-height: 28px;
  margin-top: 0;
  color: #41484e;
}

section > div img,
header > div img,
footer > div img {
  max-width: 100%;
  vertical-align: bottom;
}
/*# sourceMappingURL=base.css.map */
